<h1 class="h3 mb-2 text-gray-800">{{pageTitle}}</h1>
<p class="mb-4">{{pageDescription}}</p>

<div class="card shadow mb-4">
    <div class="card-header">Mostrando equpos</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                <div class="card-image">
                    <div class="card-header">Nombre del Equipo</div>
                    <img src="http://138.197.196.196/api/imagenes/18.jpg" alt="true" class="card-image w-100 m-0 image-circle shadow">
                    <div class="card-body">
                        <ul>
                            <li>Integrante 1</li>
                            <li>Integrante 2</li>
                            <li>Integrante 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>